.bg_grey {
	background-color: rgb(245,245,245);
	color: rgb(50,50,50);
	font-size: 14px;
}

.table_report {
	font-size: 13px;
}

.form_enter_to_cite {
	width: 300px;
	padding: 15px;
	background-color: rgb(245,245,245);
	color: rgb(100,100,100);
	border: 1px solid rgb(200,200,200);
	margin: 0 auto;
}